body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
    overflow: hidden;
  }
  
  h1 {
    margin: 20px 0;
  }

  #start{
    position: absolute;
    top:20%;
    left: 100px;
    padding: 10px;
    width: 100px;
  }
  
  #game-container {
    display: grid;
    grid-template-rows: repeat(20, 20px); /* 20 lignes */
    grid-template-columns: repeat(10, 20px); /* 10 colonnes */
    gap: 1px;
    background-color: #444;
    margin: 0 auto;
    width: 210px; /* (10 * 25) + (9 * 1px gap) */
    /*border: 2px solid white;*/
  }
  
  .cell {
    width: 20px;
    height: 20px;
    background-color: #333;
  }
  
  .cell.active1 {
    background-color: #12d1f3; /* Couleur des tétrominos */
  }
  .cell.active2 {
    background-color: #1228f3; /* Couleur des tétrominos */
  }
  .cell.active3 {
    background-color: #f39c12; /* Couleur des tétrominos */
  }
  .cell.active4 {
    background-color: #dff70a; /* Couleur des tétrominos */
  }
  .cell.active5 {
    background-color: #39d61a; /* Couleur des tétrominos */
  }
  .cell.active6 {
    background-color: #a90cc9; /* Couleur des tétrominos */
  }
  .cell.active7 {
    background-color: #f31212; /* Couleur des tétrominos */
  }
  

#container{
  position:absolute ;
  top: 50px;
  right: 100px;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
}



#preview {
  display: grid;
  grid-template-rows: repeat(4, 20px); /* 4 lignes */
  grid-template-columns: repeat(4, 20px); /* 4 colonnes */
  gap: 0px;
  margin-top: 20px;
  margin-left: 40px;
  background-color: #222;
}

